@using Shelter.Shared;
@page "/pedel"

<PageTitle>Pedel</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<h1 class="mb-3 mt-3">Shelter List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>navn</th>
            <th>cvr_navn</th>
            <th>facil_ty</th>
            <th>Id</th>
        </tr>
    </thead>
</table>